<div class="row mx-auto vh-100 w-100 justify-content-center align-items-center">
	<div class="col-sm-8 col-md-7 col-lg-6" style="">
		<div class="card mt-2">
			<div class="card-header text-center" style="background: #2a3132; color: white;">
				<h4>Registro</h4>
			</div>
			<div class="card-body">
				<form action="/signup" method="POST" enctype="multipart/form-data" id="signup">
					<div class="row">
						<div class="col-md-6 col-xs-12">
							<div class="form-group">
								<label for="username">Nombre de usuario:</label>
								<input type="text" value="{{username}}" placeholder="usuario1234" name="username" class="form-control">
							</div>
							<div class="form-group">
								<label for="email">Correo electronico:</label>
								<input type="email" value="{{email}}" placeholder="example@gmail.com" name="email" class="form-control">
							</div>
							<div class="form-group">
								<label for="password">Contraseña:</label>
								<input type="password" value="{{password}}" placeholder="********" name="password" class="form-control">
							</div>
							<div class="form-group">
								<label for="password">Confirmar contraseña:</label>
								<input type="password" value="{{confirm_password}}" placeholder="********" name="confirm_password" class="form-control">
							</div>
							{{!-- <div class="form-group">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<label class="input-group-text" for="inputGroupSelect01">Rol</label>
									</div>
									<select name="role" selected="{{role}}" class="custom-select" id="inputGroupSelect01">
										<option disabled selected>--Selecciona un rol--</option>
										<option value="user">Usuario</option>
										<option value="admin">Administrador</option>
									</select>
								</div>
							</div> --}}
						</div>
						<div class="col-md-6 col-xs-12">
							<figure class="image-container">
								<img id="chosen-image">
								<figcaption id="file-name"></figcaption>
							</figure>

							<div class="upload-img">
								<input type="file" name="avatar" id="avatar" accept="image/*">
								<label id="avatar" for="avatar">
									<svg style="width: 15px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="upload" class="svg-inline--fa fa-upload fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"></path></svg>
									Seleccionar foto de perfil
								</label>
							</div>
						</div>
					</div>
					<div class="form-group text-center">
						<button class="btn btn-primary btn-lg px-3 py-2" type="submit">Registrarse</button>
					</div>				
				</form>
			</div>
			<div class="card-footer bg-white text-center">
				<p>¿Ya tienes una cuenta? <a href="/signin">Iniciar sesión</a></p>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	const uploadButton = document.getElementById("avatar"),
		  chosenImage = document.getElementById("chosen-image"),
		  fileName = document.getElementById("file-name"),
		  form = document.getElementById('signup'),
		  inputs = document.querySelectorAll('#signup input'),
		  PUBLIC_VAPID_KEY = 'BEDHrsNQttbBX0C0Mf_D8arMWZd79v9irUW8xsfUpRaMJ2zVlB5z4WlixlQPZ5UKlA2xP-4bHW5qIZRXFEy6l44';
	
	uploadButton.onchange = () => {
	    let reader = new FileReader();
	    reader.readAsDataURL(uploadButton.files[0]);
	    reader.onload = () => {
	        chosenImage.setAttribute("src",reader.result);
	    }
	    fileName.textContent = uploadButton.files[0].name;
	}

	form.addEventListener('submit', e => {
		e.preventDefault();
		
		let errors = [];
		let passwords = []

		inputs.forEach(input => {
			const {name} = input;
			if(input.value.trim().length === 0){
				errors.push(name);	
			}
			if(name === 'password' || name === 'confirm_password'){
				passwords.push(input.value);
			}
		})

		if(errors.length > 0){
			toastr.error('Completa todos los campos.', 'Error!')
		}else if(passwords[0] !== passwords[1]){
			toastr.error('Las contraseñas no coinciden.', 'Error!')
		}else{
			console.log('ready to submit!');
			form.submit();
			//subscribe();
		}
	})

</script>